@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;&display=swap');

/* Colors */
:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    background-size: ;
    background-color: var(--paleBlue);
    font-family: 'Red Hat Display', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container {
    background-color: white;
    text-align: center;
    width: clamp(370px, 50%, 430px);
    border-radius: 1.5rem;
    margin: auto;
    box-shadow: 0 20px 20px hsla(245, 75%, 52%, .1);
}

.middle-top {
    padding: 0 2em 0 2em;
    transition: padding 1s ease;
}

.middle-bottom {
    /* padding-right: 2em;
    padding-left: 2em; */
    transition: padding 1s ease;
}

img {
    width: 100%;
}

.heroImg {
    border-radius: 1.5rem 1.5rem 0 0;
}

h1 {
    font-weight: 900;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: var(--darkBlue);
}

.info p {
    color: var(--desaturatedBlue);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.text {
    margin-top: 1rem;
    line-height: 1.5rem;
}

ul {
    display: flex;
    align-items: center;
    background-color: var(--veryPaleBlue);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: auto;
    transition: padding 1s ease;
}

ul li {
    list-style-type: none;
}

ul li:first-of-type {
    margin-right: 1.2rem;
}

ul li:last-of-type {
    margin-left: auto;
}

ul li a:last-of-type:hover {
    text-decoration: none;
    color: var(--brightBlue);
}

li p {
    color: var(--desaturatedBlue);
    margin-top: .4rem;
}

.footer {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    border-radius: .7rem;
    background-color: var(--brightBlue);
    color: white;
    box-shadow: 0px 20px 30px rgba(56, 41, 224, 0.3);
    cursor: pointer;
    filter: brightness(1);
    transition: filter 250ms ease;
    transition: margin-top 1s ease;
}

button:hover {
    filter: brightness(1.7);
}

.cancel {
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: grey;
    font-weight: 700;
    transition: color 250ms ease;
    transition: margin 1s ease;
}

.cancel:hover {
    /* filter: brightness(.7); */
    color: var(--darkBlue);
}


@media screen and (min-width: 800px) {
    .middle-bottom {
        /* padding: 0 3em 0em 3em;    */
    }

    ul {
        padding: 1.5rem;
    }

    button {
        margin-top: 2rem;
    }

    .cancel {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .middle-top {
        padding: 1rem 3em 0 3em;
    }
}